<h1>TEST</h1>



<div class="p-5 max-w-600 mx-auto">
  <div class="box">
    <div class="row no-gutters">
      <h4>Name TH</h4>
    </div>
    <div class="row no-gutters mb-3 align-items-center">
      <div class="col-4">Prefix</div>
      <div class="col-8">
        <ng-select [items]="prefixesTH"
                 bindLabel="display"
                 bindValue="value"
                 [(ngModel)]="patient.nameTH.prefix">
        </ng-select>
      </div>
    </div>
    <div class="row no-gutters mb-3 align-items-center">
      <div class="col-4">Given</div>
      <div class="col-8">
        <input type="text"
             class="form-control"
             [(ngModel)]="patient.nameTH.given">
      </div>
    </div>
    <div class="row no-gutters mb-3 align-items-center">
      <div class="col-4">Family</div>
      <div class="col-8">
        <input type="text"
             class="form-control"
             [(ngModel)]="patient.nameTH.family">
      </div>
    </div>
  </div>

  <div class="box">
    <div class="row no-gutters">
      <h4>Name EN</h4>
    </div>
    <div class="row no-gutters mb-3 align-items-center">
      <div class="col-4">Prefix</div>
      <div class="col-8">
        <ng-select [items]="prefixesEN"
                 bindLabel="display"
                 bindValue="value"
                 [(ngModel)]="patient.nameEN.prefix">
        </ng-select>
      </div>
    </div>
    <div class="row no-gutters mb-3 align-items-center">
      <div class="col-4">Given</div>
      <div class="col-8">
        <input type="text"
             class="form-control"
             [(ngModel)]="patient.nameEN.given">
      </div>
    </div>
    <div class="row no-gutters mb-3 align-items-center">
      <div class="col-4">Family</div>
      <div class="col-8">
        <input type="text"
             class="form-control"
             [(ngModel)]="patient.nameEN.family">
      </div>
    </div>
  </div>

  <div class="box">
    <div class="row no-gutters mb-3 align-items-center">
      <h4 class="col-4 mb-0">Gender</h4>
      <div class="col-8">
        <ng-select [items]="genders"
                   bindLabel="display"
                   bindValue="value"
                   [(ngModel)]="patient.gender">
        </ng-select>
      </div>
    </div>
  </div>

  <div class="box">
    <div class="row no-gutters mb-3 align-items-center">
      <h4 class="col-4 mb-0">National ID</h4>
      <div class="col-8">
        <input type="text"
             class="form-control"
             [(ngModel)]="patient.thaiID">
      </div>
    </div>
  </div>

  <div class="box">
    <div class="row no-gutters mb-3 align-items-center">
      <h4 class="col-4 mb-0">Birth Date</h4>
      <div class="col-8">
        <input type="text"
             class="form-control"
             [(ngModel)]="patient.birthDate">
      </div>
    </div>
  </div>

  <div class="box">
    <div class="row no-gutters mb-3 align-items-center">
      <h4 class="col-4 mb-0">Contacts</h4>
      <div class="col-8">
        <input type="text"
             class="form-control"
             [(ngModel)]="patient.birthDate">
      </div>
    </div>
  </div>

  <button class="btn btn-primary mt-3"
          (click)="createNewPatient()">
    Save
  </button>
</div>